*{
	transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body{
	background-color: #e2e7ec;
}

.fb-container{
	margin:auto;
	width: 90%;
}

.fb-block{
	display:flex;
	justify-content: space-around;
}

.fb-block__2-3{
	margin: 1%;
	flex-basis: 64%;
}

.fb-block__1-3{
	margin: 1%;
	background-color: white;
	flex-basis: 31%;
}

.fb-block__top{
	width:100%;
}

.fb-block__bottom{
	margin: 2%;
}

.fb-block__2-3{
	background-image: url("img/red-car.jpg");
	background-size:cover;
}