*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	margin:0px;
}

html, main, body, section{
	height: 100%;
}

body{
	background-image: url("img/intro-bg.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-family: sans-serif;
	
}


#section1 h1{
	font-size: 50px;
	
}

#section1 h3{
	margin: 2%;
}


#section1, #section5{
	color:white;
	text-align: center;
}

#section2, #section3, #section4{
	background: white;
}

#section5{
	background-image: url("img/banner-bg-u146-fr.jpg");
	background-size:cover;
}

div{
	vertical-align: middle;
	display: inline-block;
	height: 100%;
	width: 45%;
	padding: 5%;
	
}

#section1 div, #section5 div{
	margin-top: 15%;
}

a{
	margin:1%
}

#section2 img, #section3 img, #section4img img{
	height: 100%;
}

a img:active{
	background-image: url("img/u85-r.png");
}