.title {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.title-name {
  color: #ffcc00;
}
.fire-line {
  fill: #ffcc00;
  position: relative;
}
.fire-line:before,
.fire-line:after {
  display: block;
  content: '';
  position: absolute;
  height: 1px;
  width: 48%;
  top: 50%;
  background-color: #ffcc00;
}
.fire-line:before {
  left: 0;
}
.fire-line:after {
  right: 0;
}
.horizont-line {
  height: 1px;
  width: 30%;
  background-color: #ffcc00;
  margin: auto;
}
.details {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.details .arrow {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.details .details-1-2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
