*{
	transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	background-color:#fdde7e;
}

.fb-container{
	padding-top:5%;
	margin:auto;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
}

.fb-block{
	width: 360px;
	height:440px;
	background-color:white;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
}

.fb-block--center{
	height:500px;
}

.fb-block p{
	font-family: 'Lato', sans-serif;
	width: 40%;
    text-align: center;
}

.fb-block h2{
	font-family: 'misobold';
	font-size: 4em;
    margin: 0;
    color: #02995b;
}

.fb-block h3{
	font-family: 'misoregular';
	font-size: 3em;
    margin: 0px;
}


@media screen and (max-width: 640px){
	.fb-block{
		order:2;
	}
	.fb-block--center{
		order: 0;
	}
}